/*
  Default theme for BotUI
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");




.botui-container {
    font-size: 14px;
    background-color: #d7dbe4;
    font-family: "Open Sans", sans-serif;
}

.botui-messages-container {
    padding: 5px 10px;
}

.botui-actions-container {
    padding: 5px 10px;
}

.botui-message {
    min-height: 30px;
}

.botui-message-content {
    padding: 7px 13px;
    border-radius: 15px;
    color: #314141;
    background-color: #fff;
}

.botui-message-content.human {
    color: #f8f8f8;
    background-color: #36415d;
}

.botui-message-content.text {
    line-height: 1.3;
}

.botui-message-content.loading {
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 1.3;
    text-align: center;
}

.botui-message-content.embed {
    padding: 5px;
    border-radius: 5px;
}

.botui-message-content-link {
    color: #919292;
}

.botui-actions-text-input {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 5px 7px;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    color: #595a5a;
    width: 70%;
    border-bottom: 1px solid #919292;
}

.botui-actions-text-submit {
    color: #314141;
    width: 40px;
    padding: 5px;
    height: 30px;
    line-height: 1;
    border-radius: 10%;
    border: 1px solid #36415d;
    background: #fff;
}

.botui-actions-buttons-button {
    border: 0;
    color: #36415d;
    line-height: 1;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    background: #ffffff;
    border: 1px solid #36415d;
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.botui-actions-text-select {
    border: 0;
    outline: 0;
    border-radius: 0;
    padding: 5px 7px;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    color: #595a5a;
    border-bottom: 1px solid #919292;
}

.botui-actions-text-searchselect {
    border: 0;
    outline: 0;
    border-radius: 0;
    padding: 5px 7px;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    color: #595a5a;
    border-bottom: 1px solid #919292;
}

.botui-actions-text-searchselect .dropdown-toggle {
    border: none !important;
}

.botui-actions-text-searchselect .selected-tag {
    background-color: transparent !important;
    border: 0 !important;
}

/*
  Animation of messages
  For details on how to change, see: https://vuejs.org/v2/guide/transitions.html
*/
.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0;
    transform: translateX(-10px);
}

.slide-fade-l2r-enter-active {
    transition: all .3s ease;
}

.slide-fade-l2r-enter,
.slide-fade-l2r-leave-to {
    opacity: 0;
    transform: translateX(10px);
}

.slide-fade-r2l-enter-active {
    transition: all .3s ease;
}

.slide-fade-r2l-enter,
.slide-fade-r2l-leave-to {
    opacity: 0;
    transform: translateX(-10px);
}

/*
  Animation of loading dots
*/
.dot {
    width: .5rem;
    height: .5rem;
    border-radius: .5rem;
    display: inline-block;
    background-color: #cccccc;
}

.dot:nth-last-child(1) {
    margin-left: .3rem;
    animation: loading .6s .3s linear infinite;
}

.dot:nth-last-child(2) {
    margin-left: .3rem;
    animation: loading .6s .2s linear infinite;
}

.dot:nth-last-child(3) {
    animation: loading .6s .1s linear infinite;
}

@keyframes loading {
    0% {
        transform: translate(0, 0);
        background-color: #ababab;
    }
    25% {
        transform: translate(0, -3px);
    }
    50% {
        transform: translate(0, 0px);
        background-color: #ababab;
    }
    75% {
        transform: translate(0, 3px);
    }
    100% {
        transform: translate(0, 0px);
    }
}
